.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

@media screen and (max-width: 1600px) {
  .container {
    max-width: 1200px;
    padding-bottom: 20px;
  }
}
