.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background: #ffffff;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
